<!DOCTYPE html>
<html>

<head>
    <title>Edit Event</title>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="assets/css/dash.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <script src="assets/js/swup.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <style>
        md-content { height: 100% }
    </style>
</head>
<body ng-app="event.horizon" ng-controller="creator" ng-init="init()" ng-cloak>
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <div>
            <h1>Edit Event</h1> <br>
        </div>

        <div>
            <form name="eventForm">
                <div>
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="event.name">
                    </md-input-container>

                    <!-- <md-input-container>
                <label>Email</label>
                <input ng-model="event.email" type="email">
            </md-input-container> -->
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Type</label>
                        <input ng-model="event.type">
                    </md-input-container>

                    <md-input-container>
                        <label>Date</label>
                        <md-datepicker ng-model="event.date"></md-datepicker>
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label>Venue</label>
                    <input ng-model="event.venue">
                </md-input-container>

                <!-- <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>City</label>
                        <input ng-model="event.city">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>State</label>
                        <md-select ng-model="event.grade">
                            <md-option ng-repeat="grade in grades" value="{{grade.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Postal Code</label>
                        <input name="postalCode" ng-model="event.postalCode" placeholder="12345" required ng-pattern="/^[0-9]{5}$/"
                            md-maxlength="5">

                        <div ng-messages="eventForm.postalCode.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must supply a postal code.</div>
                            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                                code.
                            </div>
                            <div ng-message="md-maxlength" class="my-message">
                                Don't use the long version silly...we don't need to be that specific...
                            </div>
                        </div>
                    </md-input-container>
                </div> -->

                <md-input-container class="md-block">
                    <label>Details</label>
                    <textarea ng-model="event.details" md-maxlength="800" rows="10" md-select-on-focus></textarea>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-button type=submit ng-click="edit()" class="md-raised md-primary">SUBMIT</md-button>
                    <md-button type="button" onclick="window.location.replace('index.html')" class="md-raised md-primary">BACK</md-button>
                    <md-button ng-click="delete()" class="md-raised md-primary" style="background-color: red; color: white">Delete</md-button>
                </md-input-container>

            </form>
        </div>
    </md-content>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src='app.js'></script>
    <script>
        var app = angular.module('event.horizon', ['ngMaterial', 'ngMessages', 'ngResource']);
        app.controller("creator", ($scope, $http) => {
                var eventURL = new URL(window.location);
                var id = encodeURI(eventURL.searchParams.get("e"));

                $scope.grades = ("1 2 3 4 5 6 7 8 9 10 11 12").split(' ').map(function (state) {
                    return {
                        abbrev: state
                    };
                });
                $http.get(url + id).then(
                    (res) => {
                        if (res.data.success) {
                            if (res.data.events.length == 0) document.getElementById('cardwrap').innerHTML = "<h2 style='margin:auto; text-align:center'><code style='color: #444'>no events</code></h2>";
                            console.log(res);
                            $scope.data = res.data;
                            $scope.event = res.data.events;
                            console.log($scope.event)
                        } else {
                            console.log(res.data.message);
                            window.location.replace('/')
                        }

                    },
                    (err) => {
                        window.location.replace('/');
                    });
                $scope.init = () => {
                    console.log(localStorage.getItem('jwt'));
                    if (localStorage.getItem('jwt') /*$cookies.get('jwt')*/ )
                        $http.post("http://lvh.me:3000/auth/verify", {
                            token: localStorage.getItem('jwt')
                        }).then((res) => {
                            if (!res.data.success) {
                                localStorage.removeItem('jwt');
                                window.location.replace("login");
                            } else {

                                $scope.payload = res.data.payload;
                                console.log($scope.payload.username, $scope.event.organizers[0]);
                                if ($scope.payload.status === 'admin' && $scope.payload.username == $scope.event.organizers[0]) {
                                    var data ={
                                        id: $scope.event._id,
                                        update: $scope.event
                                    };
                                    $scope.edit = () => {
                                        console.log('edited', data)
                                        $http.post('http://lvh.me:3000/event/edit/' + String($scope.event._id), data).then(() => {
                                            if (res.data.success) window.location.replace('/');
                                            else showSnack(res.data.message);
                                        });
                                    }
                                    $scope.delete = () => {
                                        $http.get('http://lvh.me:3000/event/delete/' + String($scope.event._id)).then(() => {
                                            if (res.data.success) window.location.replace('/');
                                            else showSnack(res.data.message);
                                        });
                                    }
                                } else {
                                    alert("UNAUTHORIZED");
                                    window.location.replace("/");
                                } 
                                
                            }
                        }, () => {
                            window.location.replace("login");
                        });
                    else {
                        window.location.replace("login");
                    }
                }
            })
            .config(function ($mdThemingProvider) {

                // Configure a dark theme with primary foreground yellow

                $mdThemingProvider.theme('docs-dark', 'default')
                    .primaryPalette('yellow')
                    .dark();

            });
    </script>
</body>

</html>
