<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
  <style>
    body {
      font-family: 'Raleway';

    }

    .container {
      /*text-align:center;*/
      min-height: 100vh;
      width: 100vw;
      margin: auto;
      border-left: 5vw solid rgb(63, 81, 181);
      padding-top: 10vh;
    }
  </style>
  <div class="container" style="margin: auto;" ng-app="event.horizon.register" ng-controller="reg">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet" style="margin: auto;">
        <div>
          <h1><span style="border-bottom: 5px solid rgb(63, 81, 181); padding-bottom: 4px">Regis</span>ter</h1>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
        <form>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="u" name="username" ng-model="user" maxlength="50"
              required>
            <label class="mdl-textfield__label" for="u">Username</label>
          </div>
          <br>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="p" name="pass" ng-model="pass" maxlength="50"
              required>
            <label class="mdl-textfield__label" for="p">Password</label>
          </div>
          <br>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="pc" name="passwordc" ng-model="passc" maxlength="50"
              required>
            <label class="mdl-textfield__label" for="pc">Confirm Password</label>
          </div>
          <br>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="e" name="email" ng-model="email" maxlength="50"
              required>
            <label class="mdl-textfield__label" for="f">Email</label>
          </div>
          <br>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="f" name="name" ng-model="name" maxlength="50" required>
            <label class="mdl-textfield__label" for="f">Full Name</label>
          </div>
          <br>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="" id="g" name="grade" ng-model="grade" maxlength="2" size="2"
              required min="1" max="12">
            <label class="mdl-textfield__label" for="g">Grade</label>
          </div>
          <!--
            Dropdown:
            span aria-label="Grade">Grade</span>
            <md-select ng-model="grade">
              <md-option placeholder="Grade" ng-repeat="g in [1,2,3,4,5,6,7,8,9,10,11,12]">
                {{g}}
              </md-option>
            </md-select>
          -->
          <br>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="s" name="sec" ng-model="sec" maxlength="1" size="1"
              required>
            <label class="mdl-textfield__label" for="s">Section</label>
          </div>
          <br>
          <p></p>
          <!-- <input type="submit" name="submit" value="Register" class="btn btn-success btn-block d" /> -->
          <button ng-click="reg()" type="submit" value="Register" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Register</button>
          <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--accent" ng-click="cancel()">CANCEL</button>
        </form>
      </div>
    </div>
    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<script>
  var app = angular.module('event.horizon.register', ['ngMaterial', 'ngMessages']);

  function showSnack(msg) {
    var snackbarContainer = document.querySelector('#snackbar');
    var data = {
      message: msg,
      timeout: 2000
    };
    snackbarContainer.MaterialSnackbar.showSnackbar(data);
  }

  app.config(function ($mdThemingProvider) {
    $mdThemingProvider.theme('default')
      .primaryPalette('blue')
      .accentPalette('pink');
    $mdThemingProvider.theme('dark-blue').backgroundPalette('blue').dark();
  })
    .controller('reg', function ($scope, $http) {
      $scope.reg = () => {

        if ($scope.pass === $scope.passc && $scope.pass != '') {
          var data = {
            username: $scope.user,
            pass: $scope.pass, //CHECK
            email: $scope.email,
            grade: $scope.grade,
            sec: $scope.sec,
            name: $scope.name
          };
          console.log(data);
          // document.getElementById('f').innerHTML +=
          // "<md-progress-linear md-mode=\"indeterminate\"></md-progress-linear>";
          $http.post("http://lvh.me:3000/user/new", data)
            .then((res) => {
              if (res.data.success) {
                window.location.replace('login.html');
              } else {
                console.log("Failed: ", res.data.message);
                showSnack(res.data.message);
                setTimeout(() => { window.location.reload() }, 2500);
              }
            }, (err) => {
              console.log("failed:", err);
            });
        } else showSnack("Passwords don't match");

      }
      $scope.cancel = () => window.location.replace('landing');
    }); 
</script>

</html>