/*Load Page*/
.transition-fade {
    transition: .4s;
    opacity: 1;
}
html.is-animating .transition-fade{
    opacity: 0;
}

body,
h1 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%;
    line-height: 1;
}
.progress 
{
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9999;
 background-color: #F2F2F2;
}
.bar 
{ 
  background-color: #819FF7; 
  width:0%; 
  height:5px; 
  border-radius: 3px; 
}
.percent 
{ 
  position:absolute; 
  display:inline-block; 
  top:3px; 
  left:48%; 
}
#wrapper
{
  width:995px;
  padding:0px;
  margin:0px auto;
  font-family:helvetica;
  text-align:center;
}

/*main{
    min-height: 50vh;
}*/
.cards {
    /*margin: auto;*/
    /*min-height: 100vh;*/
    overflow: auto;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 10vw;
    padding-right: 10vw;
    /*padding-top: 5vw;
    padding-bottom: 5vw;*/
}

.points {
    border-bottom: 5px solid;
    padding-bottom: 4px;
}

.c {
    color: firebrick;
}

.c:hover {
    background-color: rgba(178, 34, 34, 0.3);
}

.e {
    color: rgb(138, 43, 226);
}

.e:hover {
    background-color: rgba(138, 43, 226, 0.3);
}

.p {
    color: rgb(255, 69, 0);
}

.p:hover {
    background-color: rgba(255, 69, 0, 0.3);
}
.v {
    color: rgb(0, 204, 255);
}

.v:hover {
    background-color: rgba(0, 204, 255, 0.3);
}

.layout-transparent {
    background: url('assets/imgs/transparent.jpg') center / cover;/*rgba(255, 255, 255, 0);*/
    background-attachment: fixed;
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
your background is light. */
    color: rgba(0, 0, 0, 0.87);
}

.title {
    display: block;
    padding-top: 160px;
    padding-left: 5%;
    /*min-height: 30vh;*/
    height: 15vh;
    text-align: left;
    margin: auto;
    border: 1px;
    /*right: 15%;*/
    font-size: x-large;
}

.demo-card-event.mdl-card {
    width: 256px;
    height: 256px;
    background: #3E4EB8;
}

.demo-card-event>.mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}

.demo-card-event>.mdl-card__title {
    align-items: flex-start;
}

.demo-card-event>.mdl-card__title>h4 {
    margin-top: 0;
}

.demo-card-event>.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.demo-card-event>.mdl-card__actions>.material-icons {
    padding-right: 10px;
}

.demo-card-event>.mdl-card__title,
.demo-card-event>.mdl-card__actions,
.demo-card-event>.mdl-card__actions>.mdl-button {
    color: #fff;
}

.pts {
    font-size: 170%;
}

.h {
    text-align: right;
}
footer {
    height: 12%;
    position: relative;
    top: 100%;
    padding: 4% 4% 10%;
}